<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="university" src="{{ "/assets/img/university.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Program for University </h3>
    <ul>
      <li> Java | Oracle</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="https://www.youtube.com/watch?v=413zOtHmGCg&t=31s">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="benz" src="{{ "/assets/img/benz.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Mercedes-Benz Website </h3>
    <ul>
      <li> HTML5 | CSS3</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>

<!-- 추가 ---------------------------------------------------------------------------------------------------------------------->
<div class="user-projects">
  <div class="images-right">
    <img alt="company" src="{{ "/assets/img/company.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Educational Institute Website </h3>
    <ul>
      <li>Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Coupang Eats Website</h3>
    <ul>
      <li>Demo</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<!-- 추가 -->