<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="university" src="{{ "/assets/img/university.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Program for University </h3>
    <ul>
      <li> Java | Oracle</li>
    </ul>
    <p>
      [Java]<br>
      - 화면구성, 이벤트처리<br>
      - DB 연동, 검색기능 구현<br>
      [Oracle]<br>
      - C.R.U.D<br>
    </p>
    <a class="project-link" href="https://www.youtube.com/watch?v=413zOtHmGCg&t=31s">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="benz" src="{{ "/assets/img/benz.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Mercedes-Benz Website </h3>
    <ul>
      <li> HTML5 | CSS3</li>
    </ul>
    <p>
      FE
    </p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>

<!-- 추가 ---------------------------------------------------------------------------------------------------------------------->
<div class="user-projects">
  <div class="images-right">
    <img alt="company" src="{{ "/assets/img/company.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Educational Institute Website </h3>
    <ul>
      <li>Bootstrap</li>
    </ul>
    <p>
      Bootstrap을 이용하여 반응형 웹사이트 제작
    </p>
    <a class="project-link" href="http://wallace.dothome.co.kr/company/">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="coupangeats" src="{{ "/assets/img/coupangeats.webp" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Coupang Eats Website</h3>
    <ul>
      <li>Demo Website</li>
    </ul>
    <p>

    </p>
    <a class="project-link" href="https://web3765.github.io/coupangeats/">Check it out</a>
  </div>
</div>
<!-- 추가 -->